<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollabVM Client</title>

    <link rel="stylesheet" href="client.css">
    <script src="cli.js"></script>

</head>
<body>
    <nav id="titlebar">
        <div id="windowtitle">CollabVM Client (v1.0.1)</div>
        <div class="btnscontainer_titlebar">
            <span id="winmin">–</span>
            <span id="winmaximize">◻</span>
            <span id="winclose">×</span>
        </div>
    </nav>
    <main>
        <iframe src="./client/tabsservice.html" frameborder="0"></iframe>
    </main>
</body>
</html>